* {
  padding: 0;
  margin: 0;
}

.app {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
.frontPageContainer {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
