@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

.app {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
.logo {
  font-size: 1.8em !important;
}
.frontPageContainer {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
