.text {
  text-align: center;
  font-size: x-large;
  border: 10px;
  padding: 100px;
}

.image {
  width: 400px;
  height: 250px;
}

.button {
  display: flex;
  justify-content: space-between;
  padding: 10px;


}

.deletebtn {
  border: 1px solid black;
  color: white;
  text-decoration: none;
  display: block;
  background-color: black;
  padding: 5px;
}

.eidtbtn {
  border: 1px solid black;
  color: white;
  text-decoration: none;
  display: block;
  background-color: black;
  padding: 5px;
}

#backbtn {
  border: 1px solid black;
  color: white;
  text-decoration: none;
  display: block;
  background-color: black;
  padding: 5px;
}

.nameLink {
  display: flex;
  text-decoration: none;
  justify-content: center;
  font-size: larger;
  padding: 5px;
}

.linkbtn {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: black;
  text-decoration: none;
  color: white;
}

#linkId {
  text-decoration: none;
}

#click {
  text-align: center;
  padding: 10px;
}

#backbtn {}